<html>
  <head>
    <meta charset='utf-8'> 
    <title><%= msg %></title>
    <link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.css">
    <link rel="icon" href="/public/@raptorjs/core/img/raptor-logo.png">
    <style></style>
  </head>
  <body>
    <div style="background:url(/public/@raptorjs/core/img/header-2.png);height:350px;width:100%;padding:50px;background-position:bottom">
      
      <h1 style="color:white;font-size:50px"><span style="font-size:70px">): </span><%= msg %></h1>
      
      <h1 class="text-muted">Raptor.js</h1>
      <p class="text-muted">The page you are looking for could not be found. Check the address bar to ensure your URL is spelled correctly.</p>
      
    </div>
    <div class="container">
      
    </div>
  </body>
</html>
