<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/rmodules/Raptorjs/CoreNode/img/raptor-logo.png">

    <title>Raptor Keystroke Dynamics</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/bootstrap/v4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template  -->
    <link href="/public/rmodules/Raptorjs/BioNode/css/cover.css" rel="stylesheet">
    <style>
        body {
            background-color: #262b30 !important
        }

        p {
            color: rgb(189, 189, 189);
        }

        pre {
            color: rgb(189, 189, 189);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: rgb(189, 189, 189);
        }

        label {
            color: rgb(189, 189, 189);
        }

        b {
            color: rgb(189, 189, 189);
        }

        a {
            color: rgb(73, 184, 78);
        }

        a:hover {
            color: #2E7D32;
            text-decoration: underline;
        }

        .form-control {
            display: block;
            width: 100%;
            height: calc(2.25rem + 2px);
            font-size: 1rem;
            line-height: 1.5;
            color: rgb(197, 197, 197) !important;
            background-color: #343a40 !important;
            background-clip: padding-box;
            border: 1px solid #343a40;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    </style>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">
                    <h1 class="cover-heading text-center" align="center">
                        <img align="center" width="120" src="/public/rmodules/Raptorjs/CoreNode/img/raptor-logo.png">
                    </h1>
                    <br>
                    <h2 class="cover-heading">Reconociendo su perfil de tecleo.</h2>
                    <br>
                    <form id="form-bio" method="POST">
                        <input type="hidden" name="sampletest">
                        <%- R.csrfField() %>
                    </form>
                    <p class="lead ubicate">

                    </p>
                    <p class="lead">
                        <h5 class="coding" style="display: none;color:rgb(73, 184, 78)"></h5>
                    </p>
                    <p class="lead">
                        Lo sentimos no pudimos comprobar su perfil biométrico en el intento anterior, por favor introduzca nuevamente su contraseña
                    </p>
                    <p class="lead hint">
                        <b>
                            <%- hint %>
                        </b>
                    </p>
                    <p class="lead">
                        <img height="120" src="/public/rmodules/Raptorjs/BioNode/img/bio.png">
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Capa Biométrica de autenticación para
                            <a href="http://raptorweb.cubava.cu">Raptorjs</a>, por
                            <a href="http://raptorweb.cubava.cu">Proyecto Raptor</a>.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/bootstrap/js/jquery.js" type="text/javascript"></script>
    <script src="/public/rmodules/Raptorjs/BioNode/keystroke.js" type="text/javascript"></script>
    <script src="/public/bootstrap/v4/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('body').ready(function () {
            $('.ubicate').append('<input class="form-control campo" type="password">')
            var sample = '';

            $('body').on('keyup', '.campo', function (e) {
                if (e.which == 13) {
                    $('#form-bio input[name="sampletest"]').val(sample);
                    //$('#form-bio').submit();
                    startCoding()
                    $('.coding').show()
                    $('.campo').hide()
                    $.post('/bio/testuser.v2', {
                        sample: sample,
                        _csrf: '<%- R.csrfToken() %>',
                        name: '<%- name %>'
                    })
                        .done(function (data) {
                            //alert(data.msg + "-" + sample)

                            setTimeout(function () {

                                $('.hint b').html(data.msg)
                                if (data.msg == "ok") {
                                    location.reload()
                                }
                            }, 1000)
                        })
                        .fail(function (data) {

                        })
                        .always(function (data) {
                            setTimeout(function () {
                                if (data.msg != "ok") {
                                    $('.coding').hide()
                                    $('.campo').show()
                                    $('.campo').val('')
                                    clearInterval(coding)
                                }
                            }, 1000)
                        })
                    $('.campo').keystroke('data').reset()
                }

            })
            var initial = true;
            $('.campo').on('change', function (e, data, data1) {
                if (initial) {
                    initial = false;
                    $('.campo').val('')
                    //$('.campo').focus()
                }

            });
            $('.campo').keystroke({
                //attachTo:'.response'
            });
            $('.campo').on('keystroke.testsample', function (e, data, data1) {
                var initial = false;
                sample = data1;
            });
            function getRandom() {
                return Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
            }
            var coding;
            function startCoding() {
                coding = setInterval(function () {
                    $('.coding').html(getRandom())
                }, 200)
            }
            $('.campo').focus()
            $('.campo').keystroke('data').reset()
        })
    </script>
</body>

</html>