<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Raptor Keystroke Dynamics</title>

        <!-- Bootstrap core CSS -->
        <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template  -->
        <link href="/public/rmodules/Raptorjs/BioNode/css/cover.css" rel="stylesheet">
        
        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="site-wrapper">

            <div class="site-wrapper-inner">

                <div class="cover-container">

                    <div class="inner cover">
                        <h1 class="cover-heading text-center" align="center"><img align="center"  width="120" src="/public/Raptor/img/raptor-logo.png"></h1>
                        <br>
                        <h2 class="cover-heading">Reconociendo su perfil de tecleo.</h2>
                        <br>
                        <form id="form-bio" method="POST">
                            <input type="hidden" name="sampletest">
                            <%- R.csrfField() %>
                        </form>   
                        <p class="lead">
                            <input class="form-control campo"  type="password">
                        </p>

                        <p class="lead">
                            <h5>Lo sentimos no pudimos comprobar su perfil biométrico en el intento anterior, por favor introduzca nuevamente su contraseña</h5>
                        </p>
                        <p class="lead">
                            <b><%- hint %></b>
                        </p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>Biometrical layer for <a href="http://raptorweb.cubava.com">Raptorjs</a>, by <a href="http://dinobyte.net">Dinobyte SL Group</a>.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/public/bootstrap/js/jquery.js" type="text/javascript" ></script>
        <script src="/public/rmodules/Raptorjs/BioNode/keystroke.js" type="text/javascript" ></script>
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" >
           $('body').ready(function() {
                var sample = '';

                $('body').on('keyup', '.campo', function(e) {
                    if (e.which == 13) {
                        $('#form-bio input[name="sampletest"]').val(sample);
                        $('#form-bio').submit();
                    }

                })

                $('.campo').keystroke({
                    //attachTo:'.response'
                });
                $('.campo').on('keystroke.testsample', function(e, data, data1) {
                    sample = data1;
                });
                $('.campo').focus()
            })
        </script>
        </body>
    </html>
