<script src="/public/rmodules/Raptorjs/BioNode/keystroke.js" type="text/javascript" ></script>
<style type="text/css">
#message_box { 
       position: absolute; 
       top: 0; left: 0; 
       z-index: 10; 
       background: rgba(0,0,0,.5);
        padding:5px;
      
       text-align:center;
       width:100%;
       color: white;
      }
</style>
<script type="text/javascript" >
   
    $('body').ready(function() {
        $('form').append('<input type="hidden" id="bio" name="bio">')
        $('[type="password"]').attr('autocomplete','off');
       
        $('[type="password"]').keystroke({
            attachTo:'#bio'
        });
        $('body').append('<div id="message_box"><span>Este sistema se encuentra protegido por una capa biométrica de verificación de usuarios</span></div>')
    })
</script>