     
      <div class="starter-template" style="">
        <h1>Tareas programadas</h1>
        <p class="text-muted">Este componente te permite ejecutar tareas de acuerdo a un criterio.<br>(no utilizar en ambientes de clusterización)</p>
       
      </div>
      <hr>
      <div class="container-fluid">

            <pre>
*    *    *    *    *    *
┬    ┬    ┬    ┬    ┬    ┬
│    │    │    │    │    |
│    │    │    │    │    └ day of week (0 - 7) (0 or 7 is Sun)
│    │    │    │    └───── month (1 - 12)
│    │    │    └────────── day of month (1 - 31)
│    │    └─────────────── hour (0 - 23)
│    └──────────────────── minute (0 - 59)
└───────────────────────── second (0 - 59, OPTIONAL)
            </pre>
            <form action="/raptor/deamon/configure" class="form-horizontal" method="POST" >
                <div class="row">
                    <div class="col-md-4">
                        <label data-toggle="tooltip" data-placement="top" title="EL nombre de la tarea, es una forma de identificarla entre las demas" class="control-label" for="proyect">Nombre</label>
                        <div class="controls">
                            <input  class="form-control" name="nombre" type="text" id="proyect" placeholder="Nombre de la tarea" value="" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label data-toggle="tooltip" data-placement="top" title="El formato cron que determinará cuando se ejecutará el comando" class="control-label" for="proyect">Ejecutar cuando</label>
                        <div class="controls">
                            <input  class="form-control" name="schedule" type="text" id="proyect" placeholder="* * * * * *" value="" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label data-toggle="tooltip" data-placement="top" title="El comando a ejecutar cuando se cumpla la condición" class="control-label" for="command">Comando</label>
                        <div class="controls">
                            <textarea  class="form-control" name="command" placeholder="" value="" required></textarea>
                        </div>
                    </div>
                </div>
                <%- R.csrfField() %>
                <div class="row" style="margin-top: 40px;margin-bottom: 40px;">
                    <div class="col-md-4">
                        <button type="submit"  id="btn-config" class="btn btn-success"><i class="icon-raptor-configure icon-white" style="margin-right: 5px"></i>Configurar</button>
                    </div>
                    
                </div> 
            </form> 
              

            <hr>
            <div class="row">
                <div class="col-md-10">
                    <table class="table table-hover">
                        <% for (var i=0;i < config.length;i++){ %>
                            <tr>
                                <td><%- config[i].nombre %></td><td><%- config[i].schedule %></td><td><a href="/raptor/deamon/delete?eid=<%- config[i].nombre %>" class="btn btn-danger pull-right">Eliminar</a></td>
                            </tr>
                        <%}%>
                    </table>  
                </div>
            </div>

       </div>
     
       <script type="text/javascript">
        $(document.body).ready(function() {
            $('#raptor-config-form').FormUIR({
                url:'/raptor/config/process'
            })
           
            $('.switch').switchUIR();
            

            $('#raptor-config-form').on('form.success',function(form,data){
                 $('#btn-config').removeAttr('disabled');
                 
                 UIR.load.hide()
                 Raptor.msg.info(data.text,true)
            })
            $('#raptor-config-form').on('form.error',function(form,data){
                
                 $('#btn-config').removeAttr('disabled');
                 UIR.load.hide()
                 Raptor.msg.error(data.responseText,true)
            })

            $('#Generator').click(generateSecret);
          
            $('#btn-config').click(function() {
                if($('#raptor-config-form').formUIR('validar')){
                     $(this).attr({disabled: true});
                     UIR.load.show('Salvando configuracion .....')
                }
               
                $('#raptor-config-form').formUIR('submit',{
                    data:{
                        _csrf: Raptor.getCsrfToken()
                    }
                });
               
            })
            //if (window.parent)
           //     window.parent.Interactive.show('raptor.configuration.conf');
            $('[data-toggle="tooltip"]').tooltip();
            
        });
        function generateSecret() {

            for (var c = ''; c.length < 32; )
                c += 'abcdefgh1234567890@#$%*ijklmnopqrstuvwxyz'.charAt(Math.random() * 26)

            $('#inputSecret').val(c);
        }
        </script>    
