
<div class="raptorjs-node-debug" >

	<div class="raptorjs-node-debug-btn" >
		<img height="30" src="/public/rmodules/Raptorjs/CoreNode/img/monitor.png" ><span style="position:absolute;left:-25px;top:-5px" class="open-blink" ></span>
	</div>
	<div class="raptorjs-node-debug-data" >
		<%- R.pluginRequest('raptor_profiler') %>
	</div>
		<style type="text/css">
			.raptorjs-node-debug{
				position:fixed;right: 5px; background:url(/public/rmodules/Raptorjs/CoreNode/img/md.png);bottom: 5px;height:45px;box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);border:1px solid #DCDCDC;z-index: 10000;
			}
			.raptorjs-node-debug-btn{
				background-color: #2E7D32;width:45px;height:45px;float:left;text-align: center;vertical-align:middle;padding:6px;cursor: pointer
			}
			.raptorjs-node-debug-btn img{
				overflow:visible
			}
			.raptorjs-node-debug-data{
				float:left;padding:7px
			}
			.raptorjs-node-debug-popup{
				background:white;border:1px solid #DCDCDC;box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
				position:absolute;bottom:50px;padding: 10px;left:0px;width: 100%;display: none;max-height: 400px;
			}
			.raptorjs-node-debug,.raptorjs-node-debug *{
				 box-sizing: border-box;
				color: #333333;
				 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			    font-size: 14px;
			    line-height: 1.42857;
			}
			.raptorjs-node-debug img{
				vertical-align: middle;
			}
			.raptorjs-node-debug-popup-title{
				border-bottom: 1px solid #372b53;
				padding: 2px;
				margin-bottom: 5px
			}
			.raptorjs-node-debug-popup-close{
				background: #CF4141;
				
				text-align: center;
				height: 20px;
				width: 20px;
				
				color: white;
			    font-weight: bold;
			    float: right;
			    font-size: 22px;
			    line-height: 20px;
			    cursor: pointer;
			    transition: 0.3s;
			}
			.raptorjs-node-debug-popup-close:hover {
			    color: black;
			}
			.raptorjs-node-debug-trigger{
				cursor: pointer;
			}
			.raptorjs-node-debug-trigger:hover{
				color: #7D7C7C !important;
			}

			@-webkit-keyframes flash {
			  0%, 100% {
			    opacity: 1;
			  }

			  50% {
			    opacity: 0;
			  }
			}

			@keyframes flash {
			  0%, 100% {
			    opacity: 1;
			  }

			  50% {
			    opacity: 0;
			  }
			}

			.flash {
			  -webkit-animation-name: flash;
			  animation-name: flash;
			}
			.raptorjs-node-debug .open-blink {
			    animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-name: flash;
				background-color: #4CAF50;
				border-radius: 50%;
				content: " ";
				display: inline-block;
				height: 14px;
				margin: 0 20px;
				position: relative;
				width: 14px;
			}
			.raptorjs-node-debug .open-blink:before {
			    background-color: #4CAF50;
			    border-radius: 50%;
			    content: " ";
			    display: inline-block;
			    height: 30px;
			    left: -8px;
			    opacity: 0.1;
			    position: absolute;
			    top: -8px;
			    width: 30px;
			}


		</style>

		<script>
		(function(){

			var Debug={
				middle:false,
				open:true,
				init:function(){
					var width=$('.raptorjs-node-debug').width()
					var popups=$('.raptorjs-node-debug').find('.raptorjs-node-debug-popup');

					popups.each(function(){
						if($(this).attr('data-title'))
							$(this).prepend('<div class="raptorjs-node-debug-popup-title"><b>'+$(this).attr('data-title')+'</b><span class="raptorjs-node-debug-popup-close" >&times;</span></div>');
						var p=$(this);
						$(this).find('.raptorjs-node-debug-popup-close').click(function(){
							p.fadeOut()
						})
					})

					popups.click(function(e){
						e.stopPropagation()
					})
					var cle=setTimeout(function(){
								Debug.middle=true;
								Debug.open=false;
								width=$('.raptorjs-node-debug').width()
								popups.fadeOut();
								$('.raptorjs-node-debug').animate({
									width:45,
									
								},1000,function(){
									Debug.middle=false;
								})
							},10*1000)

					$('.raptorjs-node-debug-btn').on('click',function(){
						if(cle)
							clearTimeout(cle)
						if(!Debug.middle){
							Debug.middle=true;
							if(!Debug.open){
								Debug.open=true;
								
								$('.raptorjs-node-debug').animate({
									width: width+5,
									
								},1000,function(){
									Debug.middle=false;
								})
							}else{
								Debug.open=false;
								width=$('.raptorjs-node-debug').width()
								$('.raptorjs-node-debug').find('.raptorjs-node-debug-popup').fadeOut();
								$('.raptorjs-node-debug').animate({
									width:45,
									
								},1000,function(){
									Debug.middle=false;
								})
							}
						}
					})

					$('.raptorjs-node-debug-trigger').click(function(e){
						if(cle)
							clearTimeout(cle)
						$('.raptorjs-node-debug').find('.raptorjs-node-debug-popup').hide();
						var win=$(this).find('.raptorjs-node-debug-popup');

						win.fadeIn();
					})
				}
			}

			if(!window.$){
	            var script2 = document.createElement('script');
	             script2.onload = script2.onreadystatechange = script2.onerror = null;
	             script2.type = 'text/javascript';

	             script2.onload = function(){
	                     Debug.init()
	             };
	             script2.src = '/public/bootstrap/js/jquery.js';
	             document.getElementsByTagName('head')[0].appendChild(script2);
	        }else
	            Debug.init();
		})()
    
	</script>
</div>