<link href="/public/@raptorjs/raptor-panel/lib/tree/themes/default/style.min.css" rel="stylesheet">
<link href="/public/@raptorjs/raptor-panel/css/function-style.css" rel="stylesheet">

<link href="/public/@raptorjs/orm/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet">
<style>
    .component-selector .component-body .col-8 {

        height: 100%;
    }

    .dataTables_wrapper .form-control {

        background-color: #262b30 !important;
    }

    .dataTables_info {
        color: rgb(197, 197, 197) !important;
    }

    table.table {
        border-color: #262b30;
    }

    table.table tr th,
    table.table tr td {
        border-color: #343a40;

        color: white;
        vertical-align: middle;
    }

    table.table tbody tr td {
        border-color: #343a40;
        padding: 2px 5px;
        color: white;
        vertical-align: middle;
    }

    table.table tr th:last-child {
        width: 100px;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #262b30;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #343a40;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
        outline: none !important;
    }

    table.table td a:hover {
        color: #2196F3;
    }

    table.table td a.edit {
        color: #FFC107;
    }

    table.table td a.delete {
        color: #F44336;
    }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }

    .pagination li a:hover {
        color: #666;
    }

    .pagination li.active a,
    .pagination li.active a.page-link {
        background: rgb(73, 184, 78);
    }

    .pagination li.active a:hover {
        background: rgb(73, 184, 78);
    }

    .pagination li.disabled i {
        color: #ccc;
    }

    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }

    /* Custom checkbox */

    .custom-checkbox {
        position: relative;
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .custom-checkbox input[type="checkbox"] {
        opacity: 0;
        position: absolute;
        margin: 5px 0 0 3px;
        z-index: 9;
    }

    .custom-checkbox label:before {
        width: 18px;
        height: 18px;
    }

    .custom-checkbox label:before {
        content: '';
        margin: 0px;
        display: inline-block;
        vertical-align: text-top;
        background: white;
        border: 1px solid #bbb;
        border-radius: 2px;
        box-sizing: border-box;
        z-index: 2;
    }

    .custom-checkbox input[type="checkbox"]:checked+label {
        margin-left: -6px;
    }

    .custom-checkbox input[type="checkbox"]:checked+label:after {
        content: '';
        position: relative;
        margin-left: -12px;
        top: -3px;
        width: 6px;
        height: 11px;
        border: solid #000;
        border-width: 0 3px 3px 0;
        transform: inherit;
        z-index: 3;
        transform: rotateZ(45deg);
        display: inline-block
    }

    .custom-checkbox input[type="checkbox"]:checked+label:before {
        border-color: rgb(73, 184, 78);
        background: rgb(73, 184, 78);
    }

    .custom-checkbox input[type="checkbox"]:checked+label:after {
        border-color: #fff;
    }

    .custom-checkbox input[type="checkbox"]:disabled+label:before {
        color: #b8b8b8;
        cursor: auto;
        box-shadow: none;
        background: #ddd;
    }

    .first-column {
        width: 5px !important
    }

    .panel-control {
        width: 60px;
        display: inline-block;
        padding-left: 5px;
        vertical-align: middle;
        padding-right: 5px;
    }

    .panel-control md-switch {
        margin-top: 2px;
        margin-bottom: 2px;

    }
</style>

<div ng-controller="ModelController" ng-init="projectUrl='<%-projectUrl%>'" ng-cloak>
    <div class="text-center" style="margin-top: 10px">
        <h1>Mapear modelos Sequelize</h1>
        <p class="text-muted">Mapea y genera los modelos sequelize a partir de el esquema de base de datos actual</p>

    </div>
    <hr>
    <div class="container-fluid component-selector">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-12" style="padding-left:0px">
                <md-button ng-disabled="disableGen" class="md-primary" ng-click="generate($event)">generar</md-button>
                <label data-toggle="tooltip" data-placement="top" title="El modelo será generado utilizando codificación underscored" class="control-label">Underscored</label>
                <div class="panel-control">
                    <md-switch class="md-primary" ng-model="underscored" aria-label="Switch 1">
                    </md-switch>
                </div>
                <label data-toggle="tooltip" data-placement="top" title="El modelo será generado utilizando marca de tiempo" class="control-label">Timestamps</label>
                <div class="panel-control">
                    <md-switch class="md-primary" ng-model="timestamps" aria-label="Switch 2">
                    </md-switch>
                </div>
            </div>

        </div>
        <div class="row component-body">
            <div class="col-4">
                <div class="fixed-tree" style="padding-bottom: 10px;"></div>
            </div>
            <div class="col-8 console-area">
                <table ng-controller="tableController" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
            </div>
        </div>

    </div>


    <div style="visibility: hidden">
        <div class="md-dialog-container" id="create-dialog">
            <md-dialog layout-padding style="width: 500px">

                <form name="cmpForm" ng-submit="submitCmpForm(cmpForm.$valid)" class="form-horizontal dialog-cmp" method="POST">
                    <md-toolbar style="background: transparent">
                        <div class="md-toolbar-tools">
                            <h4>Crear componente</h4>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label" for="proyect">Nombre del agrupador</label>
                                    <div class="controls">
                                        <input ng-model="cmp.vendor" class="form-control" name="vendor" type="text" placeholder="agrupador..." required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label" for="proyect">Nombre del componente</label>
                                    <div class="controls">
                                        <input ng-model="cmp.component" class="form-control" name="component" type="text" placeholder="componente..." required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="cmp-def" style="color:white">{{cmp.vendor}}/
                                        <span class="text-info">{{cmp.component}}</span>
                                        <span class="text-muted">Node</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                    <md-dialog-actions layout="row">
                        <md-button ng-click="cancel()">cancelar</md-button>
                        <md-button ng-click="success()" ng-disabled="cmpForm.$invalid">Aceptar</md-button>
                    </md-dialog-actions>
                </form>

            </md-dialog>
        </div>
    </div>

    <div style="visibility: hidden">
        <div class="md-dialog-container" id="controller-dialog">
            <md-dialog layout-padding style="width: 500px">

                <form name="controllerForm" ng-submit="submitControllerForm(controllerForm.$valid)" class="form-horizontal dialog-cmp" method="POST">
                    <md-toolbar style="background: transparent">
                        <div class="md-toolbar-tools">
                            <h4>Crear controlador</h4>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div class="md-dialog-content">

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label" for="proyect">Nombre del controlador</label>
                                    <div class="controls">
                                        <input ng-model="controller.name" class="form-control" name="controller" type="text" placeholder="controlador..." required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-dialog-content>
                    <md-dialog-actions layout="row">
                        <md-button ng-click="cancel()">cancelar</md-button>
                        <md-button ng-click="successController()" ng-disabled="controllerForm.$invalid">Aceptar</md-button>
                    </md-dialog-actions>
                </form>

            </md-dialog>
        </div>
    </div>

</div>
<script src="/public/@raptorjs/raptor-panel/lib/tree/jstree.js"></script>
<script src="/public/@raptorjs/orm/lib/datatables/js/jquery.jeditable.js"></script>
<script src="/public/@raptorjs/orm/lib/datatables/js/jquery.dataTables.js"></script>
<script src="/public/@raptorjs/orm/lib/datatables/js/dataTables.bootstrap.js"></script>
<script src="/public/@raptorjs/orm/model.controller.js"></script>
<script type="text/javascript">

</script>