<li class="nav-item">
    <a class="nav-link ngPortal-embedded" route="/raptor/orm">Sequelize ORM
        <span class="badge badge-danger">nuevo</span>
    </a>
    <ul class="nav nav-sidebar flex-column" style="padding-left:10px">

        <li class="nav-item">
            <a class="nav-link ngPortal-embedded" route="/raptor/component/model.v2">
                <i style="margin-right: 5px"></i>Generar Modelo</a>
        </li>

    </ul>
</li>