     
      <div class="starter-template" style="margin-top: 50px">
        <h1>Credenciales de administraci칩n</h1>
        <p class="text-muted">Protege el panel de control con una contrase침a</p>
        <% if(message){ %>
        <div class="alert alert-success alert-dismissible" role="alert" style="margin-top: 5px">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            
              <%- message %>
           
        </div>
         <% } %>
      </div>
      <br>
      <div class="container-fluid">

            
            <form id="raptor-config-form" class="form-horizontal" method="POST" action="/raptor/savecredentials">

                <div class="row">
                    <div class="col-md-4">
                        <input  class="form-control" name="username" type="text" placeholder="Nombre de usuario" required>
                        
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <input  class="form-control" name="password" type="password" placeholder="Contrase침a" required>
                        
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <input  class="form-control" name="repassword" type="password" placeholder="Repetir contrase침a" required>
                    </div>
                </div>
                <%- R.csrfField() %>
                <hr>
                <div class="row pull-left" style="margin-bottom: 40px;">
                <div class="col-md-4">
                    <button  type="submit" id="btn-config" class="btn btn-success"><i class="icon-raptor-configure icon-white" style="margin-right: 5px"></i>Enviar</button>
                </div>
                
            </div>   
               

            </form> 
              
       </div>

