      <div style="background:url(/public/Raptor/img/header-2.png);height:180px;width:100%;padding:25px;background-position:bottom;left:0;position:absolute;top:50px">
            <i class="pull-right"><img src="/public/Raptor/img/node-dev-cuba.png" height="60"></i>
            <h2 class="pull-right" style="color:#abaaaa;margin-right:25px">Panel de Raptor.js</h2>

       </div>

      <div class="starter-template" style="margin-top: 200px">
        <h1>Bienvenidos a Raptor.js</h1>
        <p class="lead text-muted">Raptor.js es un framework de node creado, impulsado y mantenido por el proyecto Raptor.....</p>
        <hr>
        <p>Pertenece a la serie de frameworks del proyecto Raptor, con una comunidad de profesionales dedicados a impulsar el desarrollo tecnológico, con soluciones bases que permitan un marco de abstracción aceptable para problematicas comunes.</p>

        <p>La solución incluye un marco de abstracción de seguridad integrado en un módulo que garantiza la implementación de los procesos de identificación-autenticación, autorización y auditoría. Implementa un extensión de los modelos de control de acceso RBAC y CAEM.</p>
        
        <p>
          <img src="/public/rmodules/Raptorjs/RaptorNode/Panel/img/tech.png" height="60">
        </p>
        <br>
      </div>

      <h3>Colaboradores</h3>
      <hr>
      <div class="container-fluid">
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/amed.jpg" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Ing. William Amed</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/account.png" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Ing. Jorge Miralles</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/account.png" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Ing. Jorge Carmenate</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/lilian.jpg" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Ing. Lilian Laudinot</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/account.png" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Msc. Pedro Abreu</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/account.png" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Ing. Yordanis Carralero</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/account.png" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Ing. Alejandro Lora</h5>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/authors/account.png" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Lic. Gleem Montero</h5>
                  
                </div>
              </div>
            </div>
       </div>     

       <h3>Patrocinadores</h3>
       <hr>
       <div class="container-fluid">
            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/sponsor/uic.jpg" width="60" alt="..." class="img-circle">
                <div class="caption">
                  <h5>Union Informáticos de Cuba - Las Tunas</h5>
                  
                </div>
              </div>
            </div>

            <div class="col-sm-2 col-md-2">
              <div class="text-center">
                <img src="/public/Raptor/img/sponsor/jc.jpg" width="130" alt="..." >
                <div class="caption">
                  <h5>Joven Club </h5>
                  
                </div>
              </div>
            </div>
            
       </div> 