
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="/public/@raptorjs/core/css/icons.css" rel="stylesheet">
         <!-- Add ExtJs Style Library -->
         <link href="/public/@raptorjs/extjs/resources/css/azzurra/azzurra-core.css" rel="stylesheet" type="text/css" media="screen"/>
         <link href="/public/@raptorjs/extjs/resources/css/azzurra/azzurra-ui-all.css" rel="stylesheet" type="text/css" media="screen"/>
         <style>
          .troodon-user-input{
            border-radius: 8px;
            padding-left: 8px;
          }
         </style>
    </head>
    <body>
       <!-- Add Full ExtJs Library  -->
       <script type="text/javascript" src="/public/@raptorjs/extjs/ext-all.js"></script>       
       
       <script type="text/javascript" src="/public/@raptorjs/core/js/raptor-core.js"></script>
       <script type="text/javascript" src="/public/@raptorjs/extjs/resources/css/js/azzurra.js"></script>
       <script type="text/javascript" src="/public/@raptorjs/troodon/user/js/all-classes.js"></script>

    </body>
</html>

