<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Extjs Ui Designer - Raptor Studio</title>
        <style>
            .comp-sel-designer{
                border: dashed 1px black !important;
            }
            .comp-drag-designer{
                border: dashed 1px black !important;
            }
        </style>
        <link href="/public/Raptor/css/icons.css" rel="stylesheet">
        <!-- Add ExtJs Style Library -->
        <link href="/public/@raptorjs/extjs/resources/css/azzurra/azzurra-core.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/public/@raptorjs/extjs/resources/css/azzurra/azzurra-ui-all.css" rel="stylesheet" type="text/css" media="screen"/>
        <link href="/public/@raptorjs/extjs-designer/resources/css/extjs.css" rel="stylesheet">
    </head>
    <body>
        <script type="text/javascript" src="/public/@raptorjs/extjs/ext-all.js"></script>       
       
       <script type="text/javascript" src="/public/@raptorjs/core/js/raptor-core.js"></script>
       <script type="text/javascript" src="/public/@raptorjs/extjs/resources/css/js/azzurra.js"></script>
       <script type="text/javascript" src="/public/@raptorjs/extjs-designer/app/all-classes.js"></script>
         

    </body>
</html>