.md-sidenav-left .md-theme-indigo, .md-sidenav-left .nav-theme {
    background-color: #343a40 !important;
    
    min-height: initial !important;
}
.nav-doc-bar{
        background: #343a40 !important;
}
md-content{
    background-color: #262b30 !important
}

body{
    background-color: #262b30 !important
}
md-sidenav{
    background-color: #262b30 !important
}
md-content p{
    color: rgb(189, 189, 189) !important;
}
md-content pre{
    color: rgb(189, 189, 189) !important;
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(189, 189, 189) !important;
}

md-content label{
    color: rgb(189, 189, 189) !important;
}

md-content b{
    color: rgb(189, 189, 189) !important;
}
md-sidenav a {
    color: rgb(73, 184, 78);
}
md-sidenav a:hover {
    color: #2E7D32;
    text-decoration: underline;
}
.uir-load{
    background: rgba(100,100,100,.8) !important;
}
.uir-load .uir-load-text{
    color: white !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(197, 197, 197) !important;
    background-color: #343a40 !important;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.portal-loading md-progress-linear .md-container{
    background-color: #81bb8171 !important;
}
.portal-loading md-progress-linear .md-bar{
    background-color: #229118 !important;
}