      <div style="background:url(/public/Raptor/img/header-2.png);height:137px;width:100%;padding:25px;background-position:bottom;left:0;position:absolute;margin-top: -20px">
            <i class="float-right"><img src="/public/Raptor/img/node-dev-cuba.png" height="60"></i>
            
       </div>

      <div class="starter-template" style="margin-top: 100px">
        <h1>Bienvenidos a Raptor.js <%- version %></h1>
        
        <p class="lead text-muted">Raptor.js es un framework de node creado, impulsado y mantenido por el Proyecto Raptor.....</p>
        
        <hr>
        
        
        <img src="/public/Raptor/img/raptorjs-full.png" height="80" alt="..." class="img pull-left" style="margin-right: 20px">
        <br>
        <br>
        
        <p class="lead">Raptor.js es un framework web full stack basado en Node.js, utiliza como core el microframework express de conjunto con otros módulos utilitarios del repositorio npm que permiten el desarrollo de aplicaciónes web de forma ágil.</p>
        <p class="lead">El proyecto propone una arquitectura basada en componentes, donde las responsabilidades de la lógica de nuestra aplicación se encuentra encapsulada dentro de componentes.</p>
        <p class="lead"></p>

        <p class="lead">La solución incluye un marco de abstracción de seguridad integrado en un módulo (TroodonNode) que garantiza la implementación de los procesos de identificación-autenticación, autorización y auditoría. Implementa un extensión de los modelos de control de acceso RBAC y CAEM.
Además cuenta con un módulo de reconocimiento biométrico por dinámica de tecleo (BioNode), que se inserta dentro del proceso de identificación-autenticación del módulo de seguridad.</p>
        <br>
        <p>
          <img src="/public/rmodules/Raptorjs/RaptorNode/Panel/img/tech.png" height="60">
        </p>
        <br>
        <a target="_blank" href="http://raptorweb.cubava.cu"> <img src="/public/Raptor/img/proyecto-raptor.png" width="100" alt="..." class="img pull-left" style="margin-right: 20px"></a>
        <br><br>
        <a target="_blank" href="http://raptorweb.cubava.cu">Visite la página del Proyecto Raptor</a>
      </div>
      
        
      <h3>Colaboradores</h3>
        
       <hr>
       <div class="container-fluid">
           <div class="row">
            <div class="col-2">
              <div class="text-center">
                <img src="/public/Raptor/img/sponsor/uic.jpg" width="60" alt="..." class="rounded-circle">
                <div class="caption">
                  <p>Union Informáticos de Cuba - Las Tunas</p>
                  
                </div>
              </div>
            </div>

            <div class="col-2">
              <div class="text-center">
                <img src="/public/Raptor/img/sponsor/jc.jpg" width="130" alt="..." >
                <div class="caption">
                  <p></p>
                  
                </div>
              </div>
            </div>
           </div> 
       </div> 