      <style>
        .circle-serie{
          
          background-color: gray;
          color: white;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: inline-block;
          color: white;
          margin-top: -20px;
          margin-left: -20px;
          position: absolute
        }
      </style>
      <div style="background:url(/public/rmodules/Raptorjs/CoreNode/img/header-2.png);height:137px;width:100%;padding:25px;background-position:bottom;left:0;position:absolute;margin-top: -20px">
            <i class="float-right"><img src="/public/rmodules/Raptorjs/RaptorNode/img/node-dev-cuba.png" height="60"></i>
            
       </div>

      <div class="starter-template" style="margin-top: 100px">
        
        <h1><img src="/public/rmodules/Raptorjs/CoreNode/img/raptorjs-full.png" height="80" alt="..." class="img pull-left" style="margin-right: 20px">
          <span class="circle-serie"><%- serie %></span>
        </h1>
        
        
        <p class="lead text-muted">Raptor.js es un framework de node creado, impulsado y mantenido por el Proyecto Raptor.....</p>
        <p class="lead text-muted"><%- version %></p>
        
        <hr>
        
        
        <br>
        <br>
        
        <p class="lead">Raptor.js es un framework web full stack basado en Node.js, utiliza como core el microframework express de conjunto con otros módulos utilitarios del repositorio npm que permiten el desarrollo de aplicaciónes web de forma ágil.</p>
        <p class="lead">El proyecto propone una arquitectura basada en componentes, donde las responsabilidades de la lógica de nuestra aplicación se encuentra encapsulada dentro de componentes.</p>
        <p class="lead"></p>

        <p class="lead">La solución incluye un marco de abstracción de seguridad integrado en un módulo (TroodonNode) que garantiza la implementación de los procesos de identificación-autenticación, autorización y auditoría. Implementa un extensión de los modelos de control de acceso RBAC y CAEM.
Además cuenta con un módulo de reconocimiento biométrico por dinámica de tecleo (BioNode), que se inserta dentro del proceso de identificación-autenticación del módulo de seguridad.</p>
        <br>
        <p>
          <img src="/public/rmodules/Raptorjs/RaptorNode/Panel/img/tech.png" height="60">
          
          <a target="_blank" href="http://raptorweb.cubava.cu"> <img src="/public/rmodules/Raptorjs/RaptorNode/Panel/img/proyecto-raptor.png" height="60" alt="..." class="img" style="margin-right: 20px"></a>
          <img src="/public/rmodules/Raptorjs/RaptorNode/Panel/img/uic.png" height="60" alt="..." class="">
          <img src="/public/rmodules/Raptorjs/RaptorNode/Panel/img/jc.png" height="60" alt="..." >
        </p>
        <br>
        
        <p>Visite el blog del Proyecto Raptor en <br><a target="_blank" href="http://raptorweb.cubava.cu">http://raptorweb.cubava.cu</a></p>
      </div>
      
