<link href="/public/bootstrap/tree/themes/default/style.min.css" rel="stylesheet">
<link href="/public/rmodules/Raptorjs/RaptorNode/css/function-style.css" rel="stylesheet">
<style>

</style>
<div class="text-center" style="margin-top: 10px">
  <h1>Publicar recursos web</h1>
  <p class="text-muted">los recursos web están ubicados en el directorio Resources de cada componente, son copiados hacia el directorio público rmodules</p>

</div>
<hr>
<div ng-controller="ResourceController" ng-cloak>
  <div class="container-fluid component-selector">
    <div class="row" style="margin-bottom: 10px">
      <div class="col-12" style="padding-left:0px">
        <md-button class="md-primary" ng-click="generate($event)">publicar</md-button>
        <md-button class="md-primary" ng-click="delete($event)">eliminar</md-button>
        

      </div>
    </div>
    <div class="row component-body">
      <div class="col-4">
        <div class="fixed-tree" style="padding-bottom: 10px;"></div>
      </div>
      <div class="col-8 console-area">
        <p>Raptor.js ...</p>
        <p ng-bind-html="consolemsg"></p>
      </div>
    </div>

  </div>

</div>
<script src="/public/bootstrap/tree/jstree.js"></script>
<script src="/public/rmodules/Raptorjs/RaptorNode/ng/resources.controller.js"></script>
<script type="text/javascript">

</script>