<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
         <!-- Add ExtJs Style Library -->
         <link href="/public/extjs/resources/css/azzurra/azzurra-core.css" rel="stylesheet" type="text/css" media="screen"/>
         <link href="/public/extjs/resources/css/azzurra/azzurra-ui-all.css" rel="stylesheet" type="text/css" media="screen"/>
    </head>
    <body>
       <!-- Add Full ExtJs Library  -->
       <script type="text/javascript" src="/public/extjs/ext-all.js"></script>       
       <script type="text/javascript" src="/public/extjs/resources/css/js/azzurra.js"></script>
       <script type="text/javascript" src="/public/rmodules/Raptorjs/RaptorNode/Generate/js/all-classes.js"></script>

    </body>
</html>
